@import url("/css/dark.css");
@import url("/css/light.css");
/* @import url("/css/dark-hc.css"); */
/* @import url("/css/light-hc.css"); */
/* @import url("/css/dark-mc.css"); */
/* @import url("/css/light-mc.css"); */

div{
  outline: solid turquoise;
}

body.dark{
  color: white;
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-background);
}
.container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2em 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    "users diagrams diagrams diagrams summary"
    "users diagrams diagrams diagrams summary"
    "users diagrams diagrams diagrams feet"
    "users diagrams diagrams diagrams feet"
    "users diagrams diagrams diagrams feet"
    "users diagrams diagrams diagrams feet"
    "users contributors contributors contributors feet";
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "ext-info options options options options";
  grid-area: header;
}

.ext-info {
  grid-area: ext-info;
}

.options {
  padding: 1em;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0px 1.5em;
  grid-auto-flow: column;
  justify-content: center;
  align-content: stretch;
  /* justify-items: center; */
  /* align-items: center; */
  justify-self: stretch;
  align-self: stretch;
  grid-area: options;
}
.options>div{
  outline: solid salmon;
}

.users {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 1fr;
  gap: 1em 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "userSearchArea"
    "usersArea";
  grid-area: users;
}

.userSearchArea {
  grid-area: userSearchArea;
}

.usersArea {
  padding: 0.5em 1em;
  display: grid;
  grid-auto-rows: 3em;
  gap: 1em 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: start;
  /* justify-items: center; */
  align-items: stretch;
  grid-area: usersArea;
}
.usersArea>div{
  outline: solid magenta;
}

.diagrams {
  grid-area: diagrams;
}

.summary {
  grid-area: summary;
}

.contributors {
  grid-area: contributors;
}

.feet {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1em 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  grid-area: feet;
}
.feet>div{
  z-index: 100;
  outline: solid brown;
}
